<!DOCTYPE html>
<html>
{% if title %}
    <title>CLC ImageDB - {{ title }}</title>
{% else %}
    <title>CLC ImageDB</title>
{% endif %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">


<!-- !PAGE CONTENT! -->
<div class="w3-main">

  <!-- Header -->
  <header id="portfolio">
    <div class="w3-container">
      <h1>Image Database</h1>
        <div class="w3-section w3-bottombar w3-padding-16">
            <span class="w3-margin-right">Filter:</span> 

          <form action="{{ url_for('main.results') }}" method="get">            
            <select name="tag1" id="tags">
              <option value=""></option>
              {% for tag in all_tags %}
                {% if tag == tag1 %}
                  <option value={{ tag }} selected>{{ tag }}</option>
                {% else %}
                  <option value={{ tag }}>{{ tag }}</option>
                {% endif %}
              {% endfor %}
            </select> 
            >
             <select name="tag2" id="tags">
              <option value=""></option>
              {% for tag in all_tags %}
                {% if tag == tag2 and tag != tag1 %}
                  <option value={{ tag }} selected>{{ tag }}</option>
                {% elif tag != tag1 %}
                  <option value={{ tag }}>{{ tag }}</option>
                {% endif %}
              {% endfor %}
            </select>   
            >
            <select name="tag3" id="tags">
              <option value=""></option>
              {% for tag in all_tags %}
                {% if tag == tag3 and tag != tag1 and tag != tag2%}
                  <option value={{ tag }} selected>{{ tag }}</option>
                {% elif tag != tag1 and tag != tag2 %}
                  <option value={{ tag }}>{{ tag }}</option>
                {% endif %}
              {% endfor %}
            </select>
            <button class="w3-bar-item w3-black w3-button" type=Submit>GO</button>
            <a href="{{ url_for('main.home') }}" class="w3-bat-item w3-black w3-button">Reset</a>
          </form>    

        </div>
    </div>
  </header>

{% block content %}{% endblock %}
  <!-- Footer -->
  <footer class="w3-container w3-padding-32 w3-dark-grey">
  <div class="w3-row-padding">
    <div class="w3-third">
    </div>

    <div class="w3-third">
      <h3>MOST COMMON TAGS</h3>
      <p>
        {% for tag in count %}
        <span class="w3-tag w3-grey w3-small w3-margin-bottom">{{ tag }}</span>
        {% endfor %}
      </p>
    </div>

  </div>
  </footer>
  
<!-- End page content -->
</div>

</body>
</html>
